<div class="container">
  <h1><button class="committee" {{action 'showCommitteeButtons'}}>Committee Lookup</button></h1>
  {{#if showCommitteeButtons}}
  <form>
    <div class="form-group">
      <label for="chamber"></label>
      <button class="btn btn-primary" {{action 'lookupCommittees' 'senate'}}>Senate</button>
      <button class="btn btn-primary" {{action 'lookupCommittees' 'joint'}}>Joint</button>
      <button class="btn btn-primary" {{action 'lookupCommittees' 'house'}}>House</button>
    </div>
</form>
  {{/if}}
</div>
